body {
    background-color: black;
    text-align: center;
    color: tan;
    background-image: url(960x0.jpg);
    background-size: 50%;

}
img {
    margin-top: 50px;
}
.content {
    font-family: 'Courier New', Courier, monospace;
}