.container {
    background-color: #f7f7f7;
    border-radius: 15px;
    border: 1px #000000 solid;
    margin: 0 auto;
    width: 20%;
    overflow: hidden;
}
#mainHeader {
    background-color: #bebdbd;
    text-align: center;
    color: #1d1c1c;
    padding: 10px;
}
#form {
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 10px;
}
#label {
    text-align: center;
}